<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bookexchange1">

    <!--These three permissions are for accessing image-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUp"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".LogIn"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".Confirmation"
            android:label="@string/app_name"
            android:parentActivityName=".SignUp">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>


        <activity
            android:name=".BuySell"
            android:label="@string/app_name"
            android:parentActivityName=".LogIn">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".UserProfile"
            android:label="@string/app_name"
            android:parentActivityName=".LogIn">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BuySell"/>
        </activity>


        <activity
            android:name=".ShowBookList"
            android:label="@string/app_name"
            android:parentActivityName=".LogIn">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BuySell"/>
        </activity>



        <activity
            android:name=".Advertise"
            android:label="@string/app_name"
            android:parentActivityName=".LogIn">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShowBookList"/>
        </activity>



        <activity
            android:name=".CompleteOrder"
            android:label="@string/app_name"
            android:parentActivityName=".LogIn">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Advertise"/>
        </activity>


        <activity
            android:name=".SellingForm"
            android:label="@string/app_name"
            android:parentActivityName=".LogIn">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BuySell"/>
        </activity>

        <provider
            android:name=".data.BookProvider"
            android:authorities="com.example.android.bookexchange1"
            android:exported="false" />


    </application>

</manifest>